<!--
<ul>
  <app-user 
  *ngFor="let userEl of users"
  [user]="userEl"></app-user>
</ul>


<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Users
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <app-user 
      *ngFor="let userEl of users"
      [user]="userEl" 
      class="dropdown-item" href="#"></app-user >
    </div>
  </div>
  -->

  <app-user></app-user>