<div class="container-fluid h-100 text-white">
    <!--<h1>.Hello</h1>-->
    <div class="row h-100 justify-content-center align-items-center vertical-center bg-dark">
        <h3>Welcome To The Coffee App</h3>  
    </div>
    <div class="row h-100 justify-content-center align-items-center vertical-center bg-primary">
            <app-users></app-users>
    </div>
    <div class="row h-100 justify-content-center align-items-center vertical-center bg-success">
            <app-users></app-users>
    </div>
</div>